@import "tailwindcss";

:root {
  --background: 255, 255, 255;
  --foreground: #171717;
  --sign-up-gradient: linear-gradient(90deg, #1cb5e0 0%, #000851 100%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 25, 25, 25;
    --foreground: #ededed;
  }
}

body {
  background: rgb(var(--background));
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* --- Variables --- */
@theme colors {
  --color-success: #008000;
  --color-reverse: #ffa500;
  --color-warning: #ff0000;
  --color-primary: #0000ff;
  --bg-modal: rgb(71, 69, 69);
}

/* --- Animations --- */

@keyframes slide-in-from-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-out-to-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* --- Buttons --- */
.btn {
  @apply rounded-md cursor-pointer;
}
.btn-success {
  @apply bg-success text-white hover:bg-success/80;
}
.btn-reverse {
  @apply bg-reverse text-white hover:bg-reverse/80;
}
.btn-warning {
  @apply bg-warning text-white hover:bg-warning/80;
}
.btn-primary {
  @apply bg-primary text-white hover:bg-primary/80;
}
.btn-open-modal {
  @apply flex-1 rounded-md text-start hover:cursor-pointer hover:bg-gray-800;
}
.btn-sign-up {
  background: var(--sign-up-gradient);
  @apply text-white;
}

/* --- Inputs --- */

.input-task-entry-title {
  @apply p-2 rounded-md bg-white w-[500px] h-[50px] text-black;
}
.input-task-modal {
  @apply w-[500px] h-[50px] border-2 border-gray-300 rounded-md p-2;
}

.input-auth-page {
  @apply text-black rounded-md border-b-2 border-gray-300 focus:outline-none;
}

/* --- Texts --- */

.text-main-title-h1 {
  @apply text-center text-4xl font-bold mt-10;
}
.text-tasks-h2 {
  @apply text-center text-2xl font-bold my-5;
}
.text-task-modal-title {
  @apply text-center text-2xl font-bold;
}
.text-task-modal-form-label {
  @apply text-sm font-bold;
}
.text-auth-page-title-h1 {
  @apply text-center text-4xl font-bold mb-10;
  background: var(--sign-up-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.text-auth-page-title-h2 {
  @apply text-2xl font-bold text-center;
}
.text-auth-client-message {
  @apply text-sm text-gray-500;
}
.text-auth-client-message-link {
  @apply text-blue-500 cursor-pointer;
}
.text-auth-client-error-message {
  @apply text-xl text-red-500 text-center;
}
.text-auth-client-success-message {
  @apply text-xl text-green-500 text-center;
}

/* --- Layouts --- */
/* Main page */

.layout-container-main-page {
  @apply flex flex-col items-center justify-center;
}
.layout-container-main-page-content {
  @apply flex flex-col items-center justify-center mt-10;
}
.layout-container-user-input {
  @apply flex items-center justify-center gap-2;
}

.layout-container-tasks-full-board {
  @apply flex flex-col gap-2 items-start justify-center mt-10 w-[700px];
}

.layout-container-tasks-cols {
  @apply flex flex-col items-start justify-center mt-10 w-full;
}

.layout-container-tasks-individual-col {
  @apply flex flex-col gap-2;
}
.layout-container-tasks-item {
  @apply border-2 border-gray-300 rounded-md p-2 w-[700px];
}

/* Interaction Task Buttons */

.layout-container-task-interaction-bar-buttons {
  @apply flex items-center justify-center flex-none gap-5;
}

/* Task Modal */

.layout-container-dialog-task-modal {
  @apply fixed top-0 left-0 w-[30%] h-full flex items-center justify-center text-white;
  background-color: var(--bg-modal);
  animation: slide-in-from-left 0.5s ease-in-out forwards;
}
.layout-container-dialog-task-modal-close {
  @apply fixed top-0 left-0 w-[30%] h-full flex items-center justify-center bg-black text-white;
  background-color: var(--bg-modal);
  animation: slide-out-to-left 0.5s ease-in-out;
}
.layout-container-task-modal-form {
  @apply p-4 rounded-md w-full h-full flex flex-col items-center justify-start gap-4;
}

.layout-container-task-modal-form-content {
  @apply flex flex-col gap-2;
}

.layout-container-task-modal-form-buttons {
  @apply flex flex-row gap-2 mt-10;
}

/* Auth */

.layout-container-auth-page {
  @apply flex flex-col items-center justify-center min-h-screen;
}

.layout-container-auth-page-form {
  @apply grid grid-cols-1 gap-4;
}

.layout-container-auth-page-form-content {
  @apply grid grid-cols-1 gap-4 px-5 py-5 w-[300px] h-[350px] bg-white rounded-md;
}
